torch
pandas
numpy
xgboost
scikit-learn
scipy
jupyter
ipywidgets
tqdm
loguru
black[jupyter]
isort
optuna
matplotlib
seaborn
lightgbm
catboost
ray
openml
ucimlrepo
tabulate
pytest
pyyaml
shap
miceforest
mlxtend
autogluon.tabular